<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Name</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>
          posted by Flavio Oliveira &bull; 2 min ago
        </ion-card-subtitle>
        <ion-card-title>Welcome to ngBlog</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Lets build an awesome application with Angular and the Ionic Framework using
          some really cool features from Firebase.</p>
      </ion-card-content>

    </ion-card>
</ion-content>