<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login/Register</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-text color="secondary">
          <h1>Login</h1>
          <p>Welcome to ngBlog</p>
        </ion-text>

        <ion-item color="light">
          <ion-input type="email" [formControl]="email" placeholder="Email" required></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" expand="block" fill="outline" (click)="sendEmailLink()">Send Link</ion-button>

        <ion-row>
          <ion-col>
            <ion-button size="small" (click)="loginWithGoogle()" fill="outline" expand="block">
              <ion-icon slot="start" name="logo-google"></ion-icon>
              Google
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" (click)="loginWithTwitter()" fill="outline" expand="block">
              <ion-icon slot="start" name="logo-twitter" class="twitter"></ion-icon>
              Twitter
            </ion-button>
          </ion-col>
        </ion-row>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>