<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user$ | async as user">{{user.displayName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="update()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="{{user.photoURL}}" alt="{{user.displayName}}">
        </ion-thumbnail>
        <ion-text>
          <h1>{{user.displayName}}</h1>
          <p>@{{user.twitter}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>