<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User name</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="http://i.pravatar.cc/150" alt="">
        </ion-thumbnail>
        <ion-text>
          <h1>Username</h1>
          <p>@twitter</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>